* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMUNI */

/* CONTENITORE DI DEFAULT PER CENTRARE IL CONTENUTO */

.contenitore {
    margin: 0 auto;
    width: 1082px;
}

/* /CONTENITORE DI DEFAULT PER CENTRARE IL CONTENUTO */

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

button {
    all: unset;
    background-color: #0061ff;
    color: white;
    text-align: center;
    /* padding: 6px 15px; */
    display: inline-block;
}

img {
    width: 100%;
    display: inline-block;
}

/* TESTO */
h1 {
    font-size: 68px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 29px;
}

h4 {
    font-size: 18px;
    margin: 20px 0;
}

p {
    font-size: 14px;
}

span {
    font-size: 14px;
}

/* /TESTO */
/* /COMUNI */

/* HEADER */

header {
    background-color: #b4d0e7;
}

/* NAV */

nav {
    background-color: white;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99;
}

nav div {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: currentColor;
    line-height: 80px;
}

nav ul li:hover {
    border-bottom: 2px solid black;
}

nav ul li button{
    height: 35px;
    width: 70px;
}
/* nav ul li img:hover, 
nav ul li button:hover{
    border-bottom: none;
} */

/* /NAV */

/* TITOLO */
.titolo {
    padding-top: 80px;
    position: relative;
    bottom: -80px;
}

.titolo div.contenitore {
    display: flex;
    margin-top: 60px;
}

.descrizione-titolo {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.immagine {
    width: 70%;
}

.titolo button {
    margin: 35px 0;
    border: 1px black solid;
    width: 200px;
    height: 40px;
}

.titolo i.fa-solid.fa-arrow-down {
    font-size: 40px;
    margin-top: 55px;
}

/* /TITOLO */
/* /HEADER */

/* MAIN */
main {
    margin: 160px 0;
}

main input[type="checkbox"] {
    margin: 70px 0 50px 0
}
main a{
    color: blue;
}

/* PREZZI */
.prezzi {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.prezzi .box {
    width: calc((100% / 3) - 50px);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
}

.titolo-box {
    text-align: center;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.descrizione-box {
    padding: 30px 35px;
    position: relative;
}

.opacity-span {
    opacity: 0.3;
}

/* /PREZZI */

/* PARTE CENTRALE */
.box-centrale {
    padding: 55px 0;
}

.box-centrale span {
    display: inline-block;
    padding-bottom: 30px;
}


.box-centrale button {
    margin: 25px 0 37px 0;
    width: 240px;
    height: 40px;
}

.flex-span{
    display: flex;
    align-items: baseline;
}

.flex-span span{
    padding-left: 8px;
}
/* /PARTE CENTRALE */

/* PARTE INFERIORE */
.box-inferiore ul li {
    padding: 10px 0;
}
.box-inferiore li i{
    color: blue;
}

/* /PARTE INFERIORE */

/* ULTIMO BOX */

.speciale {
    flex-grow: 1;
}

.speciale .descrizione-box .box-superiore button {
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 10px 40px;
}
.speciale .box-inferiore{
    padding: 30px 400px 0px 0px;
}
/* /ULTIMO BOX */

/* SECONDA SEZIONE */
.partner{
    display: flex;
    margin: 150px 0;
}

.partner .descrizione-titolo{
    padding: 40px;
}

.partner .descrizione-titolo h4{
    font-size: 21px;
}
.partner .descrizione-titolo p{
    line-height: 21px;
}
.partner .descrizione-titolo button{
    all: unset;
    padding: 10px 30px;
    border: 1px solid black;
    margin-top:30px ;
}

/* /SECONDA SEZIONE */

/* TERZA SEZIONE */
.business {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 60px;
}
.business .box{
    width: calc((100% / 3) - 50px);
    display: flex;
    flex-direction: column;
}
.business p{
    font-size: 17px;
    margin-top: 40px;
}

.scopri{
    width: 60%;
    margin: 215px 0;
}
.scopri h2{
    margin-bottom: 80px;
}
/* /TERZA SEZIONE */

/* QUARTA SEZIONE */
    .debug .sponsor-box{
        background-color: blue;
    }

    .sponsor{
        display: flex;
        justify-content: space-between;
    }
    .box-ss{
        width: calc(100% / 3);
        display: flex;
    }
    .sponsor-box{
        width: 100%;
        text-align: center;
    }

    .sponsor-box img{
        margin: 50% 0;
    }

/* QUARTA SEZIONE */

/* /MAIN */